SUPERTOKENS_CONNECTION_URI=https://try.supertokens.com
SUPERTOKENS_API_KEY=your-supertokens-api-key
ROWND_APP_KEY=your-rownd-app-key
ROWND_APP_SECRET=your-rownd-app-secret
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

APP_ID=app_test_rownd
APP_KEY=test_app_key
EXAMPLE_BACKEND_PORT=3137
EXAMPLE_FRONTEND_PORT=3000
EXAMPLE_HUB_BASE_URL=https://d7e3fac3.supertokens-rownd-hub.pages.dev
ENABLE_DEBUG_LOGS=false

ROWND_SUPERTOKENS_API_DOMAIN=http://localhost:3137
ROWND_SUPERTOKENS_API_BASE_PATH=/auth
